{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="header">
        <h1><a href="/catalog">Каталог</a></h1>
    </div>

    <div class="sort-block">
        <p>
            Сортировать по:
            <a href="/catalog?sort=name">названию</a>
            |
            <a href="/catalog?sort=min_price">начиная с дешевых</a>
            |
            <a href="/catalog?sort=max_price">начиная с дорогих</a>
        </p>
        <br><br>
    </div>

    <div class="content">
        {% for phone in pl %}

        <h1><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h1>
        <p class="price">Стоимость: {{ phone.price }}р</p>
        <img src="{{ phone.image }}" height="460" width="240">
        <br><br><br>

        {% endfor %}
    </div>
</div>
{% endblock %}
